@font-face {
    font-family: poppin;
    src: url(font/Poppins-Regular.ttf);
}
*{
    font-family: poppin;
    margin: 0;
    padding: 0;
}

.container {
    background-color:  #FFF9F3;
    height: 152px;

}

.header-top{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.logo-header{
    padding-top: 6px;
}
.header-right{
    display: flex;
    align-items: center;
}

.header-right-item-2{
    display: flex;
    align-items: center;
}

.header-right-item-3{
    display: flex;
    align-items: center;
}

.header-right-item-3 div:nth-child(1) span{
    float: right;
    padding: 1px 5px;
    bottom: 23px;
    position: absolute;
    background: #EB6D20;
    border-radius: 50%;
    right: -9px;
    color: #FFFFFF;
}

.header-search{
    background-color: #fff;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}

.header-search span {
    padding: 5px 15px;
    background-color: #F5F6F8;
    font-size: 12px;
    border-radius: 30px;
    margin-right: 10px;
}

.header-search span {
    padding: 5px 15px;
    background-color: #F5F6F8;
    font-size: 12px;
    border-radius: 30px;
    margin-right: 10px;
    display: inline-block;
}

.header-search input{
    width: 300px;
    border: none;
    outline: none;
}

.header-search button{
    background-color: transparent;
    border: none;
}

.header-right div{
    font-size: 12px;
}

.header-right-item{
    background-color: #EB6D20;
    color: #fff;
    border-radius: 30px;
    padding: 10px 20px;
}

.header-right-item-3{
    display: flex;
}

.header-bottom {
    margin-left: 15%;
    margin-right: 15%;
}

.header-bottom ul{
    list-style: none;
    font-size: 12px;
    display: flex;
    margin-top: 50px;
}

.header-bottom ul li{
    margin-right: 20px;
}

.header-bottom ul li:nth-child(4){
    color: #EB6D20;
}

.content{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 25px;
}

.category{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 3%;
}

.category-item{
    position: relative;
}

.category-item span{
    position: absolute;
    font-size: 12px;
    bottom: 12px;
    left: 10px;
    color: #fff;
}

.product{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 2%;
    margin-top: 10px;
}

.heart {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: auto;
    height: 1.3em;
    width: 1.3em;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
}


.product-item{
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.product-item1{
    background-color: #D3FBD9;
    position: relative;
}
.product-item2{
    background-color: #FFE4BD;
    position: relative;
}
.product-item3{
    background-color: #D9ABFD;
    position: relative;
}
.product-item4{
    background-color: #FDF0AB;
    position: relative;
}
.product-item2_2{
    background-color: #FBF7D3;
    position: relative;
}
.product-item3_3{
    background-color: #FFBDBD;
    position: relative;
}
.product-item4_4{
    background-color: #C0ABFD;
    position: relative;
}
ul{
    list-style: none;
}

.img-product{
    text-align: center;
}

.select-color span {
    font-size: 12px;
}

.select-color ul{
    display: flex;
}

.select-color ul li {
    margin-right: 5px;
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-top: 10px;
}

.title{
    font-size: 11px;
    margin-top: 20px;
}

.price{
    font-size: 11px;
    margin-top: 20px;
    justify-items: flex-end; 
}
.price2{
    margin-top: 35px;
}

.category2{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 3%;
    margin-top: 20px;
    vertical-align: middle;
}
.category2-item1{
    background-color: #F5F6F8;
    height: 80px;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    padding: 22px;
    padding-top: 15px;
}
.category2-left{
    font-size: 12px;
    width: 70%;
    margin: auto;   
}
.category2-right{
    width: 30%;
    margin: auto;
}

.seller{
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.icon-left-expand{
    margin-left: -10%;
    margin-top: -24px;
}

.icon-right-expand{
    margin-right: -20%;
    position: relative;
    right: -7%;
    margin-top: -24px;
}

.list-seller{
    width: 100%;
    display: grid;
    grid-template-columns: 12.1% 12.1% 12.1% 12.1% 12.1% 12.1% 12.1% 12.1%;
    gap:0.75%;
    margin-left: 5%;

}

.item-seller{
    text-align: center;
    position: relative;
}

.img-item-seller{
background-color: #FFFFFF; 
padding-top: 8px;
border-radius: 5px;
text-align: center;  
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.title-item-seller{
    margin-left: 5%; 
    margin-top: 10px;
    text-align: center; 
    font-size: 12px;
}

.seller2{
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.icon-right-expand2{
    margin-right: -20%;
    position: relative;
    right: -7%;
    margin-top: -24px;
}
.list-seller2{
    width: 100%;
    display: grid;
    grid-template-columns: 15.3% 15.3% 15.3% 15.3% 15.3% 15.3% ;
    gap:2.1%;
    margin-left: 5%;

}

.item-seller2{
    text-align: center;
    position: relative;
}

.img-item-seller2{
background-color: #FFFFFF; 
padding-top: 8px;
border-radius: 5px;
text-align: center;  
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.title-item-seller2{
    margin-top: 20px;
    font-size: 10px;
    text-align: left;
    padding-left: 6%;
}
.list-seller-menu{
    margin-top: 30px;
    padding: 20px;
    background-color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
    border-bottom: 1px solid ;
    border-color: lightgray;
}
.product-item1_1{
    display: flex;
    justify-content: center;
}

.product-item:first-child{
    padding: 0;
}

.header-right:last-child{
}

.header-right:last-child span{
    position: relative;
}

.seller3{
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.list-seller3{
    width: 100%;
    display: grid;
    grid-template-columns: 15.3% 15.3% 15.3% 15.3% 15.3% 15.3% ;
    gap:2%;
}

.item-seller3{
    text-align: center;
    position: relative;
}

.img-item-seller3{
background-color: #FFFFFF; 
padding-top: 8px;
border-radius: 5px;
text-align: center;  
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.title-item-seller3{
    margin-top: 20px;
    font-size: 10px;
    text-align: left;
    padding-left: 6%;
}
.footer1{
    margin-top: 30px;
    margin-bottom: 30px;
    background: #5959D9;
    margin-left: 15%;
    margin-right: 13.7%;
    height: 100%;
    
}
.idea-footer1{
    padding-left: 10%;
    padding-right: 45%;
    padding-top: 30px;
    font-size: 13px;
    padding-bottom: 30px;
    color: #FFFFFF;
}
.footer1-search{
    padding-left: 30%;
    padding-right: 30%;
}
.footer1-link{
    text-align: center; 
    margin-top: 20px; 
    padding-bottom: 30px; font-size: 12px; 
   font-size: 11px;
}
.footer2{
    background-color: #F5F6F8;
    color: #040404;
    text-align: center;
    font-size: 12px;
    height: 30px;
    padding-top: 10px
}

.footer3 {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 25px;
}

.footer-left {
    width: 20%;
    float: left;
}

.footer-right {
    width: 80%;
    float: right;
}

.social {
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
    margin-left: -5%;
    
}

.menu-item{
    display: flex;
    justify-content: space-evenly;
}

.footer-left span{
    margin-top: 42px;
    display: block;
    word-wrap: break-word;
    width: 141px;
    height: 48px;
    left: 300px;
    top: 3253px;
    /* Body Texts/Text 6 */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    /* or 171% */
    /* Color Text / Text */
    color: #3e3e3e;
}
.menu-item-idea{
    margin-top: 32px;
    font-size: 12px;
}
.menu-item-idea1  {
    padding-bottom: 20px;
}
.footer4{
    margin-left: 14.5%;
    margin-right: 15%;
    margin-top: 270px;
}
.footer4-left{
    float: left;
    width: 30%;
    font-size: 12px;
   
}
.footer4-right{
    float: right;
    width: 70%;
    font-size: 12px;
}
.footer4-right-img{
    float:right;
    margin-right: -4%;
}
.footer4-right-img img{
    margin-bottom: -4px;

}